HTML {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: ProximaNova-Regular, Arial, sans-serif;
  font-weight: 400;
  background-color: $base-bg-color;
  color: $primari-color-text;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
}
.container {
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;

  @include for-size(mobile) {
    max-width: 320px;
  }
  @include for-size(mobWithTab) {
    max-width: 320px;
  }
  @include for-size(tablet) {
    width: 724px;
    padding: 0 22px 0 22px;
  }
  @include for-size(desktop) {
    width: 1240px;
  }
  // @include for-size(superDesktop) {
  //   width: 1880px;
  // }
}
