@font-face {
  font-family: "ProximaNova-Light";

  src: url("../fonts/ProximaNova-Light.eot");

  src: url("../fonts/ProximaNova-Light.eot?iefix") format("eot"),
    url("../fonts/ProximaNova-Light.woff") format("woff"),
    url("../fonts/ProximaNova-Light.ttf") format("truetype");

  font-weight: 300;

  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";

  src: url("../fonts/ProximaNova-Regular.eot");

  src: url("../fonts/ProximaNova-Regular.eot?iefix") format("eot"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-SemiBold";

  src: url("../fonts/ProximaNova-Semibold.eot");

  src: url("../fonts/ProximaNova-Semibold.eot?iefix") format("eot"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff"),
    url("../fonts/ProximaNova-Semibold.ttf") format("truetype");

  font-weight: 700;

  font-style: normal;
}
