.header {
  padding-top: 15px;

  @include for-size(mobile) {
    background: url(../img/head_hiroSec-mob.png) no-repeat top 0 left 24px,
      url(../img/dots_hiro-img.png) no-repeat,
      linear-gradient(-45deg, transparent 20px, $header-bg-color 0);
  }
  background: url(../img/head_hiroSec-mob.png) no-repeat top 0 right,
    url(../img/dots_hiro-img.png) no-repeat,
    linear-gradient(-45deg, transparent 20px, $header-bg-color 0);
}
.wrapper-flying-info {
  position: relative;

  margin-top: 37px;
  height: 240px;
}

.list-flying-info {
  & .item-flying-info {
    position: absolute;
    bottom: 65px;
    right: 3px;

    width: 100px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $bg-flaing-color;
    color: $standart-color;

    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    border-radius: 52px;

    &::before {
      content: "";
      width: 4px;
      height: 4px;

      margin-right: 10px;

      background-color: $standart-color;
    }

    &:first-child {
      position: absolute;
      top: 0;
      left: 2px;

      width: 100px;
      height: 30px;
    }
    &:last-child {
      position: absolute;
      bottom: 0;
      left: 12px;

      width: 130px;
      height: 30px;
    }
  }
}

.wrapper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: $primari-orang-color;
  color: $standart-color;

  min-width: 155px;
  height: 40px;

  font-family: ProximaNova-SemiBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  border: none;
  border-radius: 52px;

  text-transform: uppercase;
}
.btn-scroll {
  display: none;
}
