.hiro {
  padding-top: 35px;
  padding-bottom: 30px;
}
.hiro-text {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  & > span {
    padding-left: 20px;
  }
  & .hiro-subText {
    color: $primari-orang-color;
    & > span {
      padding-left: 20px;
    }
  }
}

.info-text {
  margin-top: 2px;
  margin-bottom: 11px;

  font-size: 12px;
  line-height: 17px;
}
