.wrapper-logo {
  position: relative;
  top: 15px;
  left: 35px;

  width: 110px;

  display: flex;
  align-items: center;

  z-index: 999;
}
.logo {
  width: 42.27px;
  height: 29.84px;

  margin-right: 8px;
}
.logo-text {
  width: 62.99px;
  height: 28.18px;

  font-family: ProximaNova-SemiBold;
  font-weight: 700;
  font-size: 11.6035px;
  line-height: 14px;

  color: $primari-color-text;

  & .logo-subText {
    color: $primari-orang-color;
  }
}
