body {
  position: relative;
}
.navigation-container {
}
.fixed-menu-mob {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  // height: 100%;

  z-index: 998;
}

.wrapper-list {
  background: url(../img/dots-nav.png) no-repeat bottom right,
    linear-gradient(-45deg, transparent 20px, $header-bg-color 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 164px;
  padding-bottom: 195px;

  & .btn-price {
    color: $primari-orang-color;
    border-color: $primari-orang-color;

    min-width: 155px;

    transition: color 250ms linear, border-color 250ms linear,
      background 250ms linear;
    &:hover {
      color: $standart-color;
      border-color: $standart-color;
      background: $primari-orang-color;

      transition: color 250ms linear, border-color 250ms linear,
        background 250ms linear;
    }
    &:focus {
      color: $standart-color;
      border-color: $standart-color;
      background: $primari-orang-color;

      transition: color 250ms linear, border-color 250ms linear,
        background 250ms linear;
    }
  }
}
.overflow-nav-mob {
  opacity: 0;
  visibility: hidden;
  pointer-events: unset;

  position: absolute;
  top: 0;
  left: 50%;

  width: 100%;
  height: 100000%;

  transform: translate(-50%);
  z-index: 99;

  background: rgba(0, 25, 55, 0.6);
}
.open-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.list-nav {
  text-align: center;
}
.item-nav {
  padding-bottom: 25px;
}
.link-nav {
  color: $primari-color-text;
  text-transform: uppercase;

  &:hover {
    color: $primari-orang-color;
    border-bottom: 1px solid #f15a24;

    font-family: $font-PN-b;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
  &:focus {
    color: $primari-orang-color;
    border-bottom: 1px solid #f15a24;

    font-family: $font-PN-b;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }
}

.burger {
  position: fixed;
  top: 15px;
  right: 35px;

  background-color: $primari-color-text;
  width: 35px;
  height: 35px;

  border-radius: 5px;
  z-index: 999;

  cursor: pointer;
  border: none;
}
.dash-close {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 18px;
  height: 2px;
  background-color: $standart-color;

  transform: translate(-50%, -50%);

  border-radius: 5px;

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 0px;

    background-color: $standart-color;
    width: 18px;
    height: 2px;

    border-radius: 5px;
  }
  &::after {
    content: "";

    position: absolute;
    top: -5px;
    left: 0;

    background-color: $standart-color;
    width: 18px;
    height: 2px;

    border-radius: 5px;
  }
}
.dash-open {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 18px;
  background-color: $standart-color;

  transform: translate(-50%, -50%);

  border-radius: 5px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0px;

    background-color: $standart-color;
    width: 18px;
    height: 2px;

    border-radius: 5px;

    transform: rotate(45deg);
  }
  &::after {
    content: "";

    position: absolute;
    top: 0px;
    left: 0;

    background-color: $standart-color;
    width: 18px;
    height: 2px;

    border-radius: 5px;
    transform: rotate(-45deg);
  }
}
.newBgMob {
  height: 70px;
  background-color: #f8f8fa;

  transition: background-color 250ms linear;
}
// .overflow-nav-mob {
// }

// .active-overflow {
// }
