.wrapper-img-devices {
  & .circle-img {
    position: relative;
    z-index: 5;
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;

      width: 170px;
      height: 170px;

      background-color: $primari-orang-color;

      border-radius: 50%;

      transform: translate(-50%, -50%);

      z-index: 0;
    }
  }
}

.list-item-specific {
  &:nth-child(2) {
    .wraper-info-desc {
      & .wrapper-info-mb {
        & .arrow-orang-icon {
          display: none;
        }
      }
    }
  }
  &:nth-child(3) {
    .wraper-info-desc {
      & .wrapper-info-mb {
        & .arrow-orang-icon {
          display: none;
        }
      }
    }
  }
}
.list-icon-spec {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 24px;
}
.wrapper-info-mb {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 13px;

  font-weight: 800;
  font-size: 19px;
  line-height: 30px;

  width: 100%;
  &::before {
    content: " ";

    position: absolute;
    bottom: -3px;
    left: 0;

    width: 100%;
    height: 1px;

    // margin-top: 5px;

    background: $primari-color-text;
  }
}
.item-icon-spec {
  &:not(:last-child) {
    margin-right: 14px;
  }
}
.spec-icon {
  width: 26px;
  height: 26px;
}
.img-mb {
  position: relative;
  z-index: 2;
}
.arrow-orang-icon {
  width: 19px;
  height: 19px;
  margin-left: 11px;
}
