$standart-color: #ffffff;
$base-bg-color: #e6e7ef;
$header-bg-color: #f8f8fa;
$primari-color-text: #001937;
$primari-orang-color: #f15a24;
$bg-flaing-color: rgba(86, 98, 142, 0.56);
$bg-ww-color: rgba(86, 98, 142, 0.56);
$bg-wrapper-device: #225faa;
$bg-instruction: #f2f2f7;
$color-text-instruction: #244772;
$footer-text-information-color: rgba(255, 255, 255, 0.65);
$copiright-bg: #0f2743;
$pre-letter-footer-color: rgba(255, 255, 255, 0.87);
//fonts
$font-PN-l: "ProximaNova-Light";
$font-PN-r: "ProximaNova-Regular";
$font-PN-b: "ProximaNova-SemiBold";
