/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("/ProximaNova-Light.4c4f5aa2.eot");
  src: url("/ProximaNova-Light.4c4f5aa2.eot?iefix") format("eot"), url("/ProximaNova-Light.50f82330.woff") format("woff"), url("/ProximaNova-Light.636e1ce8.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/ProximaNova-Regular.01cde713.eot");
  src: url("/ProximaNova-Regular.01cde713.eot?iefix") format("eot"), url("/ProximaNova-Regular.03028eba.woff") format("woff"), url("/ProximaNova-Regular.e47654dc.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-SemiBold";
  src: url("/ProximaNova-Semibold.b96dc884.eot");
  src: url("/ProximaNova-Semibold.b96dc884.eot?iefix") format("eot"), url("/ProximaNova-Semibold.4fb3007e.woff") format("woff"), url("/ProximaNova-Semibold.1a9f263d.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: ProximaNova-Regular, Arial, sans-serif;
  font-weight: 400;
  background-color: #e6e7ef;
  color: #001937;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.container {
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 724px;
    padding: 0 22px 0 22px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .container {
    width: 1240px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1880px;
  }
}

.wrapper-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 42.27px;
  height: 29.84px;
}

.logo-text {
  width: 62.99px;
  height: 28.18px;
  font-family: ProximaNova-SemiBold;
  font-weight: 700;
  font-size: 11.6035px;
  line-height: 14px;
}
.logo-text .logo-subText {
  color: #f15a24;
}

.burger {
  position: relative;
  background-color: #001937;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.dash {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.dash::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: #ffffff;
  width: 18px;
  height: 2px;
  border-radius: 5px;
}
.dash::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background-color: #ffffff;
  width: 18px;
  height: 2px;
  border-radius: 5px;
}

.header {
  padding-top: 15px;
  background: url(/head_hiroSec-mob.2771a99e.png) no-repeat top 0 right, url(/dots_hiro-img.017cc1c6.png) no-repeat, linear-gradient(-45deg, transparent 20px, #f8f8fa 0);
}
@media screen and (max-width: 320px) {
  .header {
    background: url(/head_hiroSec-mob.2771a99e.png) no-repeat top 0 left 24px, url(/dots_hiro-img.017cc1c6.png) no-repeat, linear-gradient(-45deg, transparent 20px, #f8f8fa 0);
  }
}

.wrapper-flying-info {
  position: relative;
  margin-top: 37px;
  height: 240px;
}

.list-flying-info .item-flying-info {
  position: absolute;
  bottom: 65px;
  right: 3px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(86, 98, 142, 0.56);
  color: #ffffff;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 52px;
}
.list-flying-info .item-flying-info::before {
  content: "";
  width: 4px;
  height: 4px;
  margin-right: 10px;
  background-color: #ffffff;
}
.list-flying-info .item-flying-info:first-child {
  position: absolute;
  top: 0;
  left: 2px;
  width: 100px;
  height: 30px;
}
.list-flying-info .item-flying-info:last-child {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 130px;
  height: 30px;
}

.wrapper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: #f15a24;
  color: #ffffff;
  min-width: 155px;
  height: 40px;
  font-family: ProximaNova-SemiBold;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-radius: 52px;
  text-transform: uppercase;
}

.hiro {
  padding-top: 35px;
  padding-bottom: 30px;
}

.hiro-text {
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
}
.hiro-text .hiro-subText {
  color: #f15a24;
}

.info-text {
  margin-top: 2px;
  margin-bottom: 11px;
  font-size: 12px;
  line-height: 17px;
}

.article-firmware {
  padding-bottom: 50px;
}
.article-firmware .btn {
  margin-top: 30px;
}

.wrapper-head-cards {
  display: flex;
  align-items: center;
}

.img-headind-cards {
  margin-right: 20px;
}

.paragraph-head-card {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.card-firmware {
  margin-top: 26px;
}

.wrapper-color-card {
  background: linear-gradient(-45deg, transparent 20px, #f8f8fa 0);
}

.img-card-firmware {
  display: block;
}

.wrapper-card-content {
  padding-top: 16px;
  padding-right: 9px;
  padding-left: 17px;
}

.heading-card {
  margin-bottom: 3px;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
}

.paragraph-card-text {
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 13px;
}

.github-link {
  position: relative;
  color: #001937;
  font-family: ProximaNova-SemiBold;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;
  border-bottom: 1px solid #001937;
}

.wrapper-github-link {
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}

.github-icon {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.wrapper-price {
  display: flex;
  align-items: center;
  padding-right: 39px;
  padding-left: 19px;
  padding-bottom: 17px;
}

.price {
  color: #f15a24;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #f15a24;
  margin-right: 32px;
}

.btn-price {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  min-width: 130px;
  height: 40px;
  font-family: "ProximaNova-SemiBold";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  border: 1px solid #001937;
  border-radius: 52px;
}

.paragraph-card-device {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-top: 6px;
}

.wrapper-bg-device {
  background-color: #225faa;
}
.wrapper-bg-device > .container {
  position: relative;
  padding-bottom: 235px;
}
.wrapper-bg-device > .container .wrapper-head-cards {
  padding-top: 35px;
}
.wrapper-bg-device > .container .wrapper-head-cards h2 {
  position: relative;
  color: #ffffff;
}
.wrapper-bg-device > .container .wrapper-head-cards h2::before {
  content: " ";
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: #ffffff;
  width: 180px;
  height: 2px;
}

.wrapper-bg-articl_device {
  background-color: #e6e7ef;
  padding-top: 135px;
}

.list-item-specific {
  padding-bottom: 45px;
}

.img-schema {
  position: absolute;
  bottom: -112px;
  display: block;
  left: 50%;
  transform: translate(-50%);
}

.wrapper {
  background-color: #e6e7ef;
}

.wrapper-img-devices {
  margin: 0 auto;
  width: 260px;
}

.img-mb {
  display: block;
  width: 100%;
}

.wrapper-card-device {
  position: relative;
  background-color: #f8f8fa;
  margin-top: 35px;
}

.decorative-separator {
  position: absolute;
  top: -9px;
  right: 17px;
}

.header-specific {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.item-specific {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  min-width: 280px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 10px 12px 13px 10px;
  border-radius: 10px;
}
.item-specific > p:first-child {
  font-family: "ProximaNova-SemiBold";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-right: 13px;
  color: #f15a24;
}
.item-specific:first-child {
  margin-top: 0;
}

.wrapper-paragraph-specific {
  width: 167px;
  font-family: "ProximaNova-Light";
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.container-price-mb {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 19px;
  min-width: 261px;
  height: 58px;
  background: linear-gradient(-55deg, transparent 30px, #001937 0);
}
.container-price-mb p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-right: 22px;
}
.container-price-mb .btn-price {
  border: 1px solid #ffffff;
  color: #ffffff;
  fill: #ffffff;
}

.buy-icon {
  width: 18px;
  height: 18px;
  margin-right: 11px;
}

.subheading-text {
  color: #f15a24;
}

.wrapper-examp {
  position: relative;
  background: url(/decor-exaple.7c558f45.png) no-repeat, #f8f8fa;
}
.wrapper-examp .container p {
  margin-bottom: 18px;
  font-family: "ProximaNova-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.wrapper-heading-examp {
  padding: 0 0 19px 0;
}
.wrapper-heading-examp .wrapper-head-cards {
  align-items: flex-end;
}
.wrapper-heading-examp .wrapper-head-cards h2 {
  position: relative;
}
.wrapper-heading-examp .wrapper-head-cards h2::after {
  content: " ";
  position: absolute;
  bottom: -8px;
  left: 0;
  background: linear-gradient(217deg, #001937, #0074ff, #8f00ff, #00ffa3, #faff00, #ff0000);
  width: 180px;
  height: 2px;
}

.wrapper-img-face {
  position: relative;
}

.img-face {
  position: relative;
  top: 20px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%);
}

.img-mb-face {
  position: absolute;
  top: -20px;
  right: -21px;
  z-index: 2;
}

.list-exemp {
  padding-top: 100px;
}

.item-exemp:not(:last-child) {
  margin-bottom: 30px;
}
.item-exemp .examles-img {
  display: block;
  width: 280px;
}
.item-exemp h3 {
  color: #ffffff;
}
.item-exemp:first-child {
  position: relative;
  background: linear-gradient(45deg, transparent 20px, #f8f8fa 0);
  padding-bottom: 38px;
}
.item-exemp:first-child h3 {
  margin-top: 16px;
  color: #001937;
  padding-left: 13px;
  padding-right: 13px;
}
.item-exemp:first-child p {
  margin-top: 12px;
  padding-left: 13px;
  padding-right: 13px;
}
.item-exemp:first-child .decorative-separator-exemp {
  position: absolute;
  bottom: -9px;
  left: 44px;
}
.item-exemp:last-child {
  position: relative;
  background: linear-gradient(45deg, transparent 20px, #f8f8fa 0);
  padding-bottom: 38px;
}
.item-exemp:last-child h3 {
  margin-top: 16px;
  color: #001937;
  padding-left: 13px;
  padding-right: 13px;
}
.item-exemp:last-child p {
  margin-top: 12px;
  padding-left: 13px;
  padding-right: 13px;
}
.item-exemp:last-child .decorative-separator-exemp {
  position: absolute;
  bottom: -9px;
  left: 44px;
}
.item-exemp .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 13px 0 13px;
}
.item-exemp .btn .github-icon {
  fill: #ffffff;
  width: 28px;
  height: 28px;
}

.standart {
  padding: 148px 10px 40px 10px;
}
.standart h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}
.standart p {
  padding-top: 10px;
  font-family: "ProximaNova-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.card-examp-two {
  background: linear-gradient(45deg, #e6e7ef 20px, transparent 0), linear-gradient(225deg, #e6e7ef 20px, transparent 0), linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%), url(/examples-two.89cb4e24.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.card-examp-three {
  background: linear-gradient(45deg, #e6e7ef 20px, transparent 0), linear-gradient(225deg, #e6e7ef 20px, transparent 0), linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%), url(/examples-three.a14d2d2d.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.card-examp-four {
  background: linear-gradient(45deg, #e6e7ef 20px, transparent 0), linear-gradient(225deg, #e6e7ef 20px, transparent 0), linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%), url(/examples-four.c0a9c47b.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.card-examp-five {
  background: linear-gradient(45deg, #e6e7ef 20px, transparent 0), linear-gradient(225deg, #e6e7ef 20px, transparent 0), linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%), url(/examples-five.7eb2ff58.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.instructions {
  margin-top: 50px;
}

.wrapper-bg-instruction_head {
  height: 40px;
  background: linear-gradient(225deg, transparent 100px, #f2f2f7 0);
}
.wrapper-bg-instruction_head .container {
  position: relative;
}
.wrapper-bg-instruction_head .container .wrapper-head-cards {
  position: absolute;
  top: 7px;
}

.img-instruction {
  margin-right: 14px;
}

.wrapper-bg-instruction_paragraph {
  margin: 0 auto;
  background: url(/lines.5cba81ae.png) no-repeat right, #f2f2f7;
}
.wrapper-bg-instruction_paragraph .container p {
  position: relative;
  padding-top: 51px;
  font-family: "ProximaNova-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.wrapper-bg-instruction_paragraph .container p::before {
  content: "";
  position: absolute;
  top: 41px;
  width: 270px;
  height: 2px;
  background-color: #001937;
}

.wrapper-bg-instruction_content {
  background: #f2f2f7;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */