.custom-logo {
  width: 51px !important;
  height: 36px !important;
}

.custom-logo-text {
  width: 72px !important;
  height: 39px !important;
}
.box-iformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wrapper-position {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-bottom: 37px;

  & .btn-price {
    margin-top: 26px;

    border: 1px solid #ffffff;
    color: #ffffff;
  }
}
.footer-heading {
  padding-top: 20px;

  font-weight: 800;
  font-size: 14px;
  line-height: 17px;

  & .sub-text {
    color: $primari-orang-color;
  }
}
.footer-information {
  color: $footer-text-information-color;

  padding-top: 13px;

  font-family: $font-PN-r;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;

  text-align: center;
}

.list-information-footer {
  margin-top: 18px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  width: 100%;
}
.item-information-footer {
  &:not(:first-child) {
    margin-top: 17px;
  }

  & div {
    display: flex;
    justify-content: space-between;
  }
  // & ul {
  //   display: none;
  // }
}
.list-contact-footer {
  margin-top: 36px;
  text-align: center;
}
.item-contact-footer {
  &:not(:first-child) {
    margin-top: 17px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  & p {
    font-family: $font-PN-r;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
  }
  & a {
    color: $standart-color;
    font-family: $font-PN-b;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}
.custom-icon-position {
  width: 21.81px;
  height: 21.81px;
}
.custom-icon-phone {
  width: 17px;
  height: 17px;
}
.custom-icon-mail {
  width: 19px;
  height: 19px;
}
.contact-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-firmware-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $pre-letter-footer-color;

  margin-top: 30px;

  font-family: $font-PN-r;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: $pre-letter-footer-color;

  &:first-child {
    margin-top: 35px;
  }
}

.pre-letter {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: $font-PN-r;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  background-color: $pre-letter-footer-color;
  color: $primari-color-text;

  width: 20px;
  height: 20px;

  margin-right: 16px;

  border-radius: 50%;
}
.list-firmware-footer {
  display: none;
}

// open info

.open-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  @include for-size(mobile) {
    justify-content: center;
  }
  @include for-size(mobWithTab) {
    justify-content: center;
  }
  @include for-size(tablet) {
  }
}
.copyright-container {
  font-family: $font-PN-r;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.header-subList {
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}
