.wrapper-footer-logo {
  display: flex;
  align-items: center;
}
.logo-footer {
  width: 40px;
  height: 28px;
  margin-right: 9px;

  --color1: #fff;
  --color2: $primari-orang-color;
}
.footer-logo-text {
  width: 127px;
  height: 34px;

  font-family: $font-PN-b;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: $standart-color;
  & .footer-logo-subText {
    color: $primari-orang-color;
  }
}
.arrow-icon {
  width: 18px;
  height: 18px;
}
