.footer {
  background: $primari-color-text;

  color: $standart-color;
  & .wrapper-footer-logo {
    padding-top: 42px;
  }
  & .container {
    position: relative;

    background: url(../img/lines-three.png) no-repeat 0 -120px;
  }
}

.lines-img-footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer-map {
  position: relative;

  background: url(../img/map.png) no-repeat center;
  height: 510px;

  @include for-size(tablet) {
    background: url(../img/map-desktop.png) no-repeat center;
  }

  & .container {
    padding-top: 30px;
  }
}
.wrapper-contact-card {
  position: relative;
  z-index: 99;

  background: linear-gradient(transparent 0, $primari-color-text 0) top left,
    linear-gradient(-135deg, transparent 15px, $primari-color-text 0) top right,
    linear-gradient(transparent 0, $primari-color-text 0) bottom right,
    linear-gradient(45deg, transparent 15px, $primari-color-text 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
.wrapper-card-img_card {
  position: relative;

  background: url(../img/decor-card-footer.png);
  padding: 18px 15px 43px 26px;

  &::before {
    content: " ";
    position: absolute;
    top: -2px;
    left: 0;

    width: 60px;
    height: 2px;

    background-color: $primari-orang-color;
  }
  &::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    right: 0;

    width: 60px;
    height: 2px;

    background-color: $primari-orang-color;
  }

  @include for-size(tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.list-contact {
  margin-top: 12px;
}
.item-contact {
  display: flex;
  align-items: center;
  color: $standart-color;

  & a {
    font-family: $font-PN-r;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: $standart-color;
  }

  & .custom-p-card {
    font-family: $font-PN-b;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}

.position-card-icon {
  --color2: #fff;

  width: 14px;
  height: 14px;

  margin-right: 11px;
}
.phone-icon {
  width: 11px;
  height: 20px;

  margin-right: 11px;
}
.mail-icon {
  width: 12px;
  height: 12px;

  margin-right: 11px;
}
.google-map {
  position: absolute;

  width: 100%;
  height: 100%;
}
