.paragraph-card-device {
  color: $standart-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  margin-top: 6px;
}
.wrapper-bg-device {
  background: $bg-wrapper-device;
  & > .container {
    position: relative;
    padding-bottom: 235px;
    & .wrapper-head-cards {
      padding-top: 35px;

      & h2 {
        position: relative;
        color: $standart-color;

        &::before {
          content: " ";
          position: absolute;
          bottom: -8px;
          left: 0;

          background-color: $standart-color;

          width: 180px;
          height: 2px;
        }
      }
    }
  }
}
.wrapper-bg-articl_device {
  background-color: $base-bg-color;

  padding-top: 135px;
}

.list-item-specific {
  padding-bottom: 45px;
  & .container {
    padding: 0;
    width: 100%;
  }
}

.img-schema {
  position: absolute;

  bottom: -112px;

  display: block;

  left: 50%;
  transform: translate(-50%);
}
// .wrapper {

// }
.wrapper-img-devices {
  margin: 0 auto;
  width: 260px;
}

.img-mb {
  display: block;
  width: 100%;
}
.wrapper-card-device {
  position: relative;
  background-color: $header-bg-color;

  margin-top: 35px;
}
.decorative-separator {
  position: absolute;
  top: -9px;
  right: 17px;
}

.header-specific {
  padding: 10px 21px 10px 21px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}
.list-specific {
  padding-left: 21px;
  padding-right: 21px;
}
.item-specific {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $standart-color;

  margin: 0 auto;
  margin-top: 5px;

  padding: 10px 12px 13px 10px;

  border-radius: 10px;

  & > p {
    &:first-child {
      font-family: $font-PN-b;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;

      margin-right: 13px;

      color: $primari-orang-color;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}
.wrapper-paragraph-specific {
  width: 167px;
  font-family: $font-PN-l;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}
.container-price-mb {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  margin-left: 19px;
  min-width: 261px;
  height: 58px;
  background: linear-gradient(-55deg, transparent 30px, $primari-color-text 0);

  & p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;

    margin-right: 22px;
  }

  & .btn-price {
    border: 1px solid $standart-color;
    color: $standart-color;
    fill: $standart-color;
  }
}
.buy-icon {
  width: 18px;
  height: 18px;
  margin-right: 11px;
}
.subHead-text {
  display: none;
}
.arrow-see-all_icon {
  display: none;
}
.apsolute-img-schema {
  position: absolute;
  top: 250px;
  left: 50%;

  background: url(../img/schema.png) no-repeat;
  transform: translate(-50%);

  width: 278px;
  height: 316px;

  z-index: 555;

  @include for-size(tablet) {
    top: 185px;
    left: 50%;

    background: url(../img/schema.png) no-repeat;
    transform: translate(-50%);
  }
}
.border-price-decor {
  display: none;
}
.big-border-top {
  display: none;
}
.big-border-left {
  display: none;
}
.big-border-bottum {
  display: none;
}
.text-decoration-device {
  display: none;
}
