.examples {
}

.subheading-text {
  color: $primari-orang-color;
}

.wrapper-examp {
  position: relative;
  background: url(../img/decor-exaple.png) no-repeat, $header-bg-color;
  height: 341px;
  &::after {
    content: "";
    position: absolute;
    bottom: -55px;
    left: 50%;
    width: 280px;
    height: 140px;
    background: url(../img/face.png) no-repeat;

    background-size: cover;

    transform: translate(-50%);

    z-index: 0;
  }
  & .container {
    & p {
      margin-bottom: 18px;

      font-family: $font-PN-r;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
.wrapper-heading-examp {
  padding: 0 0 19px 0;
  & .wrapper-head-cards {
    align-items: flex-end;
    & h2 {
      position: relative;

      &::after {
        content: " ";
        position: absolute;
        bottom: -8px;
        left: 0;
        background: linear-gradient(
          217deg,
          #001937,
          #0074ff,
          #8f00ff,
          #00ffa3,
          #faff00,
          #ff0000
        );
        width: 180px;
        height: 2px;
      }
    }
  }
}
.wrapper-img-face {
  position: relative;
}
.img-face {
  position: relative;
  top: 20px;
  left: 50%;

  z-index: 1;

  transform: translate(-50%);
}

.img-mb-face {
  position: absolute;
  top: -105px;
  right: -100px;

  width: 320px;
  z-index: 2;

  @include for-size(tablet) {
    top: -65px;
    right: 85px;
  }
}
.list-exemp {
  @include for-size(tablet) {
    display: grid;

    grid-template-columns: repeat(auto-fit, 280px);
    // align-items: center;
    justify-content: center;
    gap: 15px;
  }

  padding-top: 100px;
}
.item-exemp {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  & .examles-img {
    display: block;
    width: 280px;
  }

  & h3 {
    color: $standart-color;
  }

  &:first-child {
    position: relative;
    background: linear-gradient(45deg, transparent 20px, $header-bg-color 0);
    padding-bottom: 38px;
    & h3 {
      margin-top: 16px;
      color: $primari-color-text;
      padding-left: 13px;
      padding-right: 13px;
    }
    & p {
      margin-top: 12px;
      padding-left: 13px;
      padding-right: 13px;
    }
    & .decorative-separator-exemp {
      position: absolute;
      bottom: -9px;
      left: 44px;
    }
  }
  &:last-child {
    position: relative;
    background: linear-gradient(45deg, transparent 20px, $header-bg-color 0);
    padding-bottom: 38px;
    & h3 {
      margin-top: 16px;
      color: $primari-color-text;
      padding-left: 13px;
      padding-right: 13px;
    }
    & p {
      margin-top: 12px;
      padding-left: 13px;
      padding-right: 13px;
    }
    & .decorative-separator-exemp {
      position: absolute;
      bottom: -9px;
      left: 44px;
    }
    @include for-size(mobile) {
      .corner {
        position: relative;
        // z-index: -1;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 0;
          border-left: 20px solid $header-bg-color;
          border-top: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid $header-bg-color;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    @include for-size(mobWithTab) {
      .corner {
        position: relative;
        // z-index: -1;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 0;
          border-left: 20px solid $header-bg-color;
          border-top: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid $header-bg-color;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    @include for-size(tablet) {
      .corner {
        position: relative;
        // z-index: -1;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 0;
          border-left: 20px solid $header-bg-color;
          border-top: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid $header-bg-color;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  & .btn {
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 16px 13px 0 13px;

    & .github-icon {
      fill: $standart-color;

      width: 28px;
      height: 28px;
    }
  }
}
.standart {
  padding: 148px 10px 40px 10px;
  & h3 {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
  }
  & p {
    padding-top: 10px;

    font-family: $font-PN-r;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}
.card-examp-two {
  background: linear-gradient(45deg, $base-bg-color 20px, transparent 0),
    linear-gradient(225deg, $base-bg-color 20px, transparent 0),
    linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%),
    url(../img/examples-two.png);

  background-size: cover;
  background-repeat: no-repeat;
  color: $standart-color;
}
.card-examp-three {
  background: linear-gradient(45deg, $base-bg-color 20px, transparent 0),
    linear-gradient(225deg, $base-bg-color 20px, transparent 0),
    linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%),
    url(../img/examples-three.png);

  background-size: cover;
  background-repeat: no-repeat;
  color: $standart-color;
}
.card-examp-four {
  background: linear-gradient(45deg, $base-bg-color 20px, transparent 0),
    linear-gradient(225deg, $base-bg-color 20px, transparent 0),
    linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%),
    url(../img/examples-four.png);

  background-size: cover;
  background-repeat: no-repeat;
  color: $standart-color;
}
.card-examp-five {
  background: linear-gradient(45deg, $base-bg-color 20px, transparent 0),
    linear-gradient(225deg, $base-bg-color 20px, transparent 0),
    linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%),
    url(../img/examples-five.png);

  background-size: cover;
  background-repeat: no-repeat;
  color: $standart-color;
}
.see-all {
  display: none;
}
.img-headind-cards-examples {
  width: 66px;
  height: 66px;
}
