.firmware {
  padding-top: 47px;

  & .container {
    position: relative;
    & .decor-firmware-top {
      display: none;
    }
    & .decor-firmware-bottom {
      display: none;
    }
  }
}

.article-firmware {
  padding-bottom: 50px;
  & .btn {
    margin-top: 30px;
  }
}

.wrapper-head-cards {
  & div {
    display: flex;
    align-items: center;
  }
}
.img-headind-cards {
  margin-right: 20px;
}
.paragraph-head-card {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.list-card-firmware {
  @include for-size(tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: minmax(200px, auto);

    grid-gap: 30px;
    justify-content: center;
  }
}
.item-firmware {
  background: linear-gradient(-45deg, $base-bg-color 20px, transparent 0),
    linear-gradient(139deg, $base-bg-color 25px, transparent 0),
    linear-gradient(180deg, $header-bg-color 0%, $header-bg-color 75.44%);

  margin-top: 26px;
}

.wrapper-color-card {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  // height: 58%;
}
.img-card-firmware {
  display: block;

  @include for-size(mobile) {
    width: 281px;
  }
  @include for-size(mobWithTab) {
    width: 281px;
  }

  @include for-size(tablet) {
    width: 281px;
  }
}
.wrapper-card-content {
  padding-top: 16px;
  padding-right: 9px;
  padding-left: 17px;
}
.heading-card {
  margin-bottom: 3px;

  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
}
.paragraph-card-text {
  font-size: 12px;
  line-height: 19px;

  margin-bottom: 13px;
}
.github-link {
  position: relative;

  color: $primari-color-text;
  font-family: ProximaNova-SemiBold;
  font-weight: 700;
  font-size: 12px;
  line-height: 19px;

  border-bottom: 1px solid $primari-color-text;
}

.wrapper-github-link {
  display: flex;
  align-items: center;

  margin-bottom: 51px;
}
.github-icon {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}
.wrapper-price {
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  padding-right: 39px;
  padding-left: 19px;
  padding-bottom: 17px;
}
.price {
  color: $primari-orang-color;

  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;

  color: #f15a24;

  margin-right: 48px;
}

.btn-price {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;

  min-width: 130px;
  height: 40px;

  font-family: $font-PN-b;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  text-transform: uppercase;

  border: 1px solid $primari-color-text;
  border-radius: 52px;
}
.close-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  line-clamp: 8;
  box-orient: vertical;
}
.show-btn {
  font-family: $font-PN-b;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  padding: 0;

  background: transparent;

  border: none;
  border-bottom: 1px solid $primari-color-text;
}

.hidden-item {
  display: none;
}
.visible {
  display: block;
}
