.instructions {
  margin-top: 50px;
}

.wrapper-bg-instruction_head {
  height: 40px;
  background: linear-gradient(225deg, transparent 100px, $bg-instruction 0);
  & .container {
    position: relative;
    & .wrapper-head-cards {
      position: absolute;
      top: 7px;
    }
  }
}
.img-instruction {
  margin-right: 14px;
}
.wrapper-bg-instruction_paragraph {
  margin: 0 auto;
  background: url(../img/lines.png) no-repeat right, $bg-instruction;
  & .container {
    & p {
      position: relative;

      padding-top: 51px;

      font-family: $font-PN-r;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;

      &::before {
        content: "";
        position: absolute;
        top: 41px;

        width: 270px;
        height: 2px;

        background-color: $primari-color-text;
      }
    }
  }
}
.wrapper-bg-instruction_content {
  background: $bg-instruction;

  @include for-size(mobile) {
    padding-top: 240px;
  }
  @include for-size(mobWithTab) {
    padding-top: 240px;
  }
  @include for-size(tablet) {
    padding-top: 140px;
  }
}
.chip-icon {
  width: 22px;
  height: 22px;
}
.list-instruction {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-template-rows: minmax(100px, auto);

  gap: 30px;
  justify-content: center;
}

.item-instruction {
  padding-top: 15px;
  &:first-child {
    @include for-size(mobile) {
      padding-top: 25px;
    }
    @include for-size(mobWithTab) {
      padding-top: 25px;
    }
  }
  &:last-child {
    background: url(../img/lines-two.png) no-repeat left bottom;
    padding-bottom: 45px;
  }

  & div {
    display: flex;
    align-items: center;
    & h3 {
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
    }
    & .chip-icon {
      margin-right: 12px;
    }
  }
}
.img-instruction-step {
  margin-top: 15px;
}
.subHead-instruction {
  display: flex;
  align-items: center;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;

  margin-top: 13px;

  &::before {
    content: " ";
    display: block;

    margin-right: 8px;

    width: 8px;
    height: 8px;
    color: $primari-orang-color;
    background-color: $primari-orang-color;

    border-radius: 100%;
  }
}
.text-instruction {
  color: $color-text-instruction;

  margin-top: 12px;

  font-family: $font-PN-r;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.line-instr-vertical-one {
  display: none;
}
.line-instr-vertical-two {
  display: none;
}
