@include for-size(desktop) {
  .paragraph-card-device {
    position: relative;
    color: $standart-color;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    margin-top: 6px;
    z-index: 99;
  }
  .wrapper-bg-device {
    position: relative;
    background: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 341px;
      background: linear-gradient(
        -135deg,
        transparent 20px,
        $bg-wrapper-device 0
      );
      z-index: 0;
    }
    &::after {
      content: "";
      position: absolute;
      top: 153px;
      right: 0;
      width: 65%;
      height: 341px;

      background: linear-gradient(
        45deg,
        transparent 160px,
        $bg-wrapper-device 0
      );

      z-index: 0;
    }
    .apsolute-img-schema {
      position: absolute;

      top: 205px;
      right: 0px;
      width: 645px;
      height: 400px;
      background: url(../img/schema-desktop.png) no-repeat;
      z-index: 555;

      transform: translate(0);
    }

    & > .container {
      position: relative;
      padding-bottom: 0;
      & .wrapper-head-cards {
        width: 432px;
        padding-top: 35px;
        margin-left: 126px;

        & h2 {
          position: relative;
          color: $standart-color;

          &::before {
            content: " ";
            position: absolute;
            bottom: -8px;
            left: 0;

            background: linear-gradient(
              to right,
              $standart-color 50%,
              rgb(0, 0, 0) 50%
            );

            width: 948px;
            height: 2px;
          }
        }
      }
    }
  }
  .wrapper-bg-articl_device {
    background-color: $base-bg-color;

    padding-top: 300px;
    & .container {
      position: relative;
      & .text-decoration-device {
        display: block;
        position: absolute;
        top: 50%;
        right: -600px;
        font-family: "Nanum Myeongjo", serif;
        font-weight: 800;
        font-size: 144px;
        line-height: 180px;

        color: rgba(0, 25, 55, 0.11);

        transform: rotate(-90deg);
      }
      & .big-border-top {
        display: block;

        position: absolute;
        top: 240px;
        right: -337px;
      }
      & .big-border-left {
        display: block;

        position: absolute;
        top: 600px;
        left: -448px;
      }
      & .big-border-bottum {
        display: block;
        position: absolute;
        bottom: -110px;
        right: -530px;
      }
    }
  }

  .img-schema {
    position: absolute;

    top: 315px;
    right: 0;

    display: block;

    transform: translate(50%);
    z-index: 5;
  }

  .wrapper-img-devices {
    margin: 0 auto;
    width: 260px;
  }

  .img-mb {
    display: block;
    width: 100%;
  }
  .wrapper-card-device {
    position: relative;

    background: linear-gradient(-45deg, $base-bg-color 20px, transparent 0),
      linear-gradient(-225deg, $base-bg-color 20px, transparent 0),
      linear-gradient(180deg, $header-bg-color 0%, $header-bg-color 75.44%);

    width: 816px;
    margin-top: -30px;
    // margin-left: 500px;
    // margin-right: auto;

    padding: 25px 29px 29px 18px;
  }

  .decorative-separator {
    position: absolute;
    top: -9px;
    right: 17px;
  }

  .header-specific {
    padding-top: 0;
    padding-bottom: 10px;

    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
  }
  .list-specific {
    display: grid;
    grid-template-columns: repeat(2, 374px);
    grid-template-rows: minmax(20px, auto);

    row-gap: 6px;
    column-gap: 17px;
  }

  .item-specific {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $standart-color;

    width: 374px;
    margin: 0 auto;
    margin-top: 5px;

    padding: 10px 12px 13px 10px;

    border-radius: 10px;

    & > p {
      &:first-child {
        font-family: $font-PN-b;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;

        margin-right: 13px;

        color: $primari-orang-color;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }
  .wrapper-paragraph-specific {
    width: 167px;
    font-family: $font-PN-l;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
  }
  .container-price-mb {
    margin: 0;
    width: 363px;
    height: 79px;
    background: linear-gradient(
      -60deg,
      transparent 40px,
      $primari-color-text 0
    );

    & p {
      font-size: 36px;
      line-height: 44px;

      margin-right: 18px;
    }

    & .btn-price {
      min-width: 180px;
      height: 50px;

      font-size: 18px;
      line-height: 22px;
    }
  }
  .buy-icon {
    width: 18px;
    height: 18px;
    margin-right: 11px;
  }

  //////////// new

  .img-headind-cards-devices {
    position: absolute;
    top: 30px;
    left: -126px;
    margin-right: 0;

    width: 90px;
    height: 90px;
  }

  .sub-paragraph-device {
    font-weight: 700;
  }

  .head-devices-sec {
    position: relative;
  }

  .subHead-text {
    position: absolute;
    top: 30px;
    right: -785px;

    color: $primari-color-text;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  .arrow-see-all_icon {
    display: block;
    width: 28px;
    height: 25px;
    margin-left: 7px;
  }
  .list-card-specific {
    height: 2620px;
    .list-item-specific {
      position: relative;
      padding-bottom: 45px;
      &:nth-child(1) {
        & .position-card-devices {
          position: absolute;
          top: 0;
          right: 45px;
        }
        & .container {
          position: relative;
        }
        & .border-price-decor {
          display: block;
          position: absolute;
          bottom: 40px;
          right: 60px;
        }
      }
      &:nth-child(2) {
        & .position-card-devices {
          position: absolute;
          top: 850px;
          left: 140px;
        }
        & .wrapper-card-device {
          margin-top: 0;

          background: linear-gradient(45deg, $base-bg-color 20px, transparent 0),
            linear-gradient(225deg, $base-bg-color 20px, transparent 0),
            linear-gradient(
              180deg,
              $header-bg-color 0%,
              $header-bg-color 75.44%
            );
          & .decorative-separator {
            top: -9px;
            left: 17px;

            transform: scale(1, -1);
          }
        }
        .container-price-mb {
          margin: 0;
          margin-left: 453px;
          width: 363px;
          height: 79px;
          background: linear-gradient(
            60deg,
            transparent 40px,
            $primari-color-text 0
          );
        }
        & .container {
          position: relative;
        }
        & .border-price-decor {
          display: block;
          position: absolute;
          bottom: 40px;
          left: 60px;
          transform: scale(-1, 1);
        }
      }
      &:nth-child(3) {
        & .position-card-devices {
          position: absolute;
          top: 1650px;
          right: 45px;
        }
        & .container {
          position: relative;
        }
        & .border-price-decor {
          display: block;
          position: absolute;
          bottom: 40px;
          right: 60px;
        }
      }
    }
  }
}

//   .position-card-devices {
//     &:nth-child(1) {
//       position: absolute;
//       top: 0;
//       right: 45px;
//     }
//     &:nth-child(2) {
//       position: absolute;
//       top: 300px;
//       right: 45px;
//     }
//     &:nth-child(3) {
//       position: absolute;
//       top: 300px;
//       left: 45px;
//     }
//   }
// }
