@include for-size(desktop) {
  .see-all {
    position: absolute;
    top: 34px;
    right: -540px;
    color: #001937;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  .wrapper-examp {
    background: transparent;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 341px;
      background: linear-gradient(
        -135deg,
        transparent 20px,
        $header-bg-color 0
      );
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 153px;
      right: 0;
      width: 630px;
      height: 254px;
      background: url(../img/face.png) no-repeat top 0 left 120px,
        linear-gradient(47deg, transparent 102px, #f8f8fa 0);
      background-size: contain;
      z-index: 0;
      transform: translate(0);
    }
    & .container {
      & p {
        width: 466px;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  .img-mb-face {
    width: 700px;
    top: -257px;
    right: -350px;
  }
  .wrapper-heading-examp {
    padding: 20px;
    margin-left: 200px;
    & .wrapper-head-cards {
      margin: 0;

      & h2 {
        &::after {
          content: " ";
          position: absolute;
          bottom: -8px;
          left: 0;
          background: linear-gradient(
            217deg,
            #001937 35%,
            #001937,
            #0074ff,
            #8f00ff,
            #00ffa3,
            #faff00,
            #ff0000
          );
          width: 980px;
          height: 2px;
        }
      }
    }
  }
  .head-devices-sec {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }
  .img-headind-cards-examples {
    position: absolute;
    top: 29px;
    left: -126px;
    margin-right: 0;
    width: 90px;
    height: 90px;
  }

  .list-exemp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    & .item-exemp {
      &:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      &:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
  .item-exemp {
    display: flex;

    & .examles-img {
      min-width: 360px;
    }

    & h3 {
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
    }
    & p {
      font-size: 14px;
      line-height: 22px;
    }

    &:first-child {
      padding-bottom: 0;
      background: transparent;

      & .decorative-separator-exemp {
        bottom: -9px;
        left: 410px;
      }
      & div {
        position: relative;
        margin-top: 35px;
        padding-left: 40px;
        height: 267px;
        background: $header-bg-color;
        & .btn {
          padding-left: 20px;
          width: 209px;
        }
      }

      &::before {
        content: " ";

        position: absolute;
        top: 0;
        left: 360px;

        width: 220px;
        height: 40px;

        background: linear-gradient(
          -135deg,
          transparent 30px,
          $header-bg-color 0
        );
      }
    }
    &:last-child {
      padding-bottom: 0;
      background: transparent;

      display: flex;
      flex-direction: row-reverse;

      & .decorative-separator-exemp {
        top: 100px;
        left: -53px;
        transform: rotate(90deg);
      }
      & .btn {
        & .github-icon {
        }
      }
      & div {
        position: relative;
        margin-top: 35px;
        padding-left: 40px;
        height: 267px;
        background: $header-bg-color;
        & .btn {
          padding-left: 20px;
          width: 209px;
        }
      }

      &::before {
        content: " ";

        position: absolute;
        bottom: -40px;
        right: 360px;

        width: 220px;
        height: 40px;

        background: linear-gradient(
          -135deg,
          transparent 30px,
          $header-bg-color 0
        );
        transform: rotate(180deg);
      }
      .corner {
        position: relative;
        z-index: -1;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-top: 20px solid $base-bg-color;
          border-right: 20px solid $base-bg-color;
          border-bottom: 20px solid transparent;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  .card-examp-two {
    background: linear-gradient(45deg, $base-bg-color 20px, transparent 0),
      linear-gradient(225deg, $base-bg-color 20px, transparent 0),
      linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%),
      url(../img/examples-two-desk.png);

    background-size: cover;
    background-repeat: no-repeat;
    color: $standart-color;
  }
  .card-examp-three {
    background: linear-gradient(45deg, $base-bg-color 20px, transparent 0),
      linear-gradient(225deg, $base-bg-color 20px, transparent 0),
      linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%),
      url(../img/examples-three-desk.png);

    background-size: cover;
    background-repeat: no-repeat;
    color: $standart-color;
  }
  .card-examp-four {
    background: linear-gradient(45deg, $base-bg-color 20px, transparent 0),
      linear-gradient(225deg, $base-bg-color 20px, transparent 0),
      linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%),
      url(../img/examples-four-desk.png);

    background-size: cover;
    background-repeat: no-repeat;
    color: $standart-color;
  }
  .card-examp-five {
    background: linear-gradient(45deg, $base-bg-color 20px, transparent 0),
      linear-gradient(225deg, $base-bg-color 20px, transparent 0),
      linear-gradient(180deg, rgba(0, 25, 55, 0) 0%, #001937 75.44%),
      url(../img/examples-five-desk.png);

    background-size: cover;
    background-repeat: no-repeat;
    color: $standart-color;
  }
}
