@include for-size(desktop) {
  .firmware {
    padding-top: 79px;
    & .container {
      position: relative;
      & .decor-firmware-top {
        display: block;
        position: absolute;
        top: 35px;
        right: -38px;
      }
      & .decor-firmware-bottom {
        display: block;
        position: absolute;
        bottom: 0;
        left: -164px;
      }
    }
  }

  .article-firmware {
    padding-bottom: 50px;
    & .btn {
      margin-top: 30px;
    }
  }

  .item-firmware {
    background: linear-gradient(-43deg, #e6e7ef 20px, transparent 0),
      linear-gradient(136deg, #e6e7ef 30px, transparent 0),
      linear-gradient(180deg, #f8f8fa 0%, #f8f8fa 75.44%);

    margin-top: 0;
  }
  .wrapper-head-cards {
    max-width: 1000px;
    margin-left: auto;
    margin-right: 35px;
    position: relative;

    & div {
      margin-bottom: 15px;

      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
    }
  }
  .paragraph-head-card {
    font-size: 18px;
    line-height: 28px;
  }
  .img-headind-cards {
    position: absolute;
    top: -5px;
    left: -146px;
    margin-right: 0;

    width: 126px;
    height: 126px;
  }

  .list-card-firmware {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-template-rows: minmax(200px, auto);

    grid-gap: 30px;
    justify-content: center;

    margin-top: 46px;
  }
  .img-card-firmware {
    width: 361px;
  }
  .wrapper-card-content {
    padding-top: 26px;
    & h3 {
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
    }
    & p {
      font-size: 14px;
      line-height: 22px;
    }
  }
  .btn-price {
    min-width: 180px;
    height: 50px;

    font-size: 18px;
    line-height: 22px;
  }
  .price {
    font-size: 36px;
    line-height: 44px;
  }
  .github-link {
    font-size: 14px;
    line-height: 22px;
  }

  .github-icon {
    width: 22px;
    height: 22px;
  }
}
