//

@include for-size(desktop) {
  .instructions {
    margin-top: 135px;
  }

  .img-headind-cards-examples {
  }
  .wrapper-bg-instruction_head {
    position: relative;

    background: linear-gradient(225deg, transparent 600px, #f2f2f7 0);
    & .border-instuction-start {
      position: absolute;
      top: 15px;
      right: 400px;
      transform: scale(1, -1);
      z-index: -1;
    }
    & .container {
      & .wrapper-head-cards {
        & div {
          & h2 {
            position: relative;
            font-weight: 700;
            font-size: 48px;
            line-height: 60px;
          }
        }
      }
    }
  }

  .wrapper-bg-instruction_paragraph {
    & .container {
      & p {
        padding-top: 51px;

        font-family: $font-PN-r;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;

        &::before {
          content: " ";
          position: absolute;
          top: 41px;

          width: 1140px;
          height: 2px;

          background-color: $primari-color-text;
        }
      }
    }
  }

  .wrapper-bg-instruction_content {
    padding-top: 150px;
    & .container {
      position: relative;
    }
  }
  .chip-icon {
  }
  .list-instruction {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, 280px);
    // grid-template-rows: minmax(100px, auto);
    // gap: 30px;
    // align-items: center;
    // justify-content: center;
  }

  .item-instruction {
    &:first-child {
    }
    &:last-child {
    }

    & div {
      & h3 {
      }
      & .chip-icon {
      }
    }
  }
  .img-instruction-step {
  }
  .subHead-instruction {
    &::before {
    }
  }
  .text-instruction {
  }
  .line-instr-vertical-one {
    display: block;
    position: absolute;
    top: 100px;
    left: 464px;
  }
  .line-instr-vertical-two {
    display: block;
    position: absolute;
    top: 100px;
    right: 464px;
  }
}
