@include for-size(desktop) {
  .header {
    padding-top: 15px;
    height: 100vh;

    background: url(../img/head_hiroSec-desc.png) no-repeat right top 50px,
      url(../img/dots_hiro-img_desk.png) no-repeat;

    background-size: contain;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
      height: 100vh;
      background: linear-gradient(-45deg, transparent 20px, $header-bg-color 0);
      z-index: -1;
    }

    & .container {
      position: relative;
    }
  }
  .wrapper-flying-info {
    display: none;
  }

  .wrapper-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    background-color: $primari-orang-color;
    color: $standart-color;

    min-width: 155px;
    height: 40px;

    font-family: ProximaNova-SemiBold;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    border: none;
    border-radius: 52px;

    text-transform: uppercase;
  }

  .btn-scroll {
    position: absolute;
    bottom: 54px;
    left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    font-family: $font-PN-r;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #5f709c;

    border: none;
    transform: rotate(-90deg);
  }
  .arrow-scroll {
    width: 23px;
    height: 23px;

    margin-right: 18px;

    transform: rotate(90deg);
  }
}
