@include for-size(desktop) {
  .hiro {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    & div {
      position: absolute;
      top: 100px;
      left: 0;

      width: 633px;

      & .btn {
        margin-top: 32px;
        border: 1px solid $primari-orang-color;

        transition: color 250ms linear, border-color 250ms linear,
          background 250ms linear;
        &:hover {
          color: $primari-orang-color;
          border-color: $primari-orang-color;
          background: transparent;

          transition: color 250ms linear, border-color 250ms linear,
            background 250ms linear;
        }
        &:focus {
          color: $primari-orang-color;
          border-color: $primari-orang-color;
          background: transparent;

          transition: color 250ms linear, border-color 250ms linear,
            background 250ms linear;
        }
      }
    }
  }
  .hiro-text {
    font-weight: 800;
    font-size: 72px;
    line-height: 90px;

    & > span {
      display: flex;
      padding-left: 0px;
    }
    & .hiro-subText {
      color: $primari-orang-color;
      padding-left: 25px;

      & > span {
        padding-left: 0px;
      }
    }
  }

  .info-text {
    margin-top: 2px;
    margin-bottom: 11px;

    font-size: 18px;
    line-height: 28px;
  }
}
