@include for-size(desktop) {
  .wrapper-logo {
    position: relative;
    top: 0;
    left: 0;
  }
  .logo {
    width: 51px;
    height: 36px;

    margin-right: 9px;
  }
  .logo-text {
    width: 76px;
    height: 34px;

    font-family: $font-PN-b;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #001937;
    & .logo-subText {
      color: $primari-orang-color;
    }
  }
}
