@include for-size(desktop) {
  body {
    position: relative;
  }

  .wrapper-list {
    position: relative;
    background: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 0;
    padding-bottom: 0;

    & .btn-price {
      color: $primari-orang-color;
      border-color: $primari-orang-color;

      min-width: 155px;
    }
  }
  .fixed-menu-mob {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .overflow-nav-mob {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    background: transparent;
  }

  .list-nav {
    display: flex;
    align-items: center;
  }
  .item-nav {
    margin-right: 58px;
    padding-bottom: 0;
  }
  .link-nav {
    color: $primari-color-text;
    text-transform: uppercase;

    &:hover {
      color: $primari-orang-color;
      border-bottom: 1px solid #f15a24;

      font-family: $font-PN-b;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
    &:focus {
      color: $primari-orang-color;
      border-bottom: 1px solid #f15a24;

      font-family: $font-PN-b;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }

  .burger {
    display: none;
  }
}
