@include for-size(desktop) {
  .wrapper-img-devices {
    display: flex;

    margin: 0;

    & .circle-img {
      position: relative;
      z-index: 5;
      &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;

        width: 246px;
        height: 246px;

        background-color: $primari-orang-color;

        border-radius: 50%;

        transform: translate(-50%, -50%);

        z-index: 0;
      }
    }
  }
  .list-item-specific {
    &:nth-child(1) {
      .wrapper-img-devices {
        flex-direction: row;
        margin-left: -300px;
      }
      & .wrapper-info-mb {
        position: relative;

        & .arrow-orang-icon {
          display: block;
          position: absolute;
          top: 7px;
          right: -40px;
        }
      }
    }
    &:nth-child(2) {
      .wrapper-img-devices {
        flex-direction: row-reverse;
        margin-left: 880px;
      }
      .wraper-info-desc {
        margin-top: 115px;
        margin-right: 80px;
        & .wrapper-info-mb {
          position: relative;
          width: 470px;

          & .arrow-orang-icon {
            display: block;
            position: absolute;
            top: 10px;
            left: -40px;
          }

          &::after {
            transform: rotate(160deg);

            position: absolute;
            top: 10px;
            left: 463px;

            width: 215px;
          }
        }
      }
    }
    &:nth-child(3) {
      .wrapper-img-devices {
        flex-direction: row;
        margin-left: -360px;
      }
      .wraper-info-desc {
        margin-top: 190px;
        & .wrapper-info-mb {
          position: relative;
          width: 405px;

          &::after {
            top: 2px;
            left: -252px;

            width: 260px;
          }
        }
      }
    }
  }

  .item-specific {
    & p {
      font-family: $font-PN-b;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
    & div {
      & p {
        font-family: $font-PN-l;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  .wraper-info-desc {
    margin-top: 130px;
    margin-left: 50px;
  }
  .list-icon-spec {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding-top: 24px;
  }
  .wrapper-info-mb {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 13px;

    font-weight: 800;
    font-size: 36px;
    line-height: 45px;

    width: 280px;
    &::before {
      content: " ";

      position: absolute;
      bottom: -3px;
      left: 0;

      width: 100%;
      height: 1px;

      // margin-top: 5px;

      background: $primari-color-text;
    }
    &::after {
      content: " ";

      position: absolute;
      top: 6px;
      left: -232px;

      width: 240px;
      height: 1px;

      background: $primari-color-text;

      transform: rotate(20deg);
      z-index: 5;
    }
  }
  .item-icon-spec {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
  .spec-icon {
    width: 35px;
    height: 35px;
  }
  .img-mb {
    position: relative;
    z-index: 2;

    width: 400px;
  }
  .arrow-orang-icon {
    width: 23px;
    height: 23px;
    margin-left: 11px;
  }
}
