.copyright-container {
  background: $copiright-bg;
  color: $standart-color;

  padding-top: 7px;
  padding-bottom: 8px;

  font-family: $font-PN-r;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}
