@include for-size(desktop) {
  // .custom-logo {

  // }

  // .custom-logo-text {

  // }
  .wrapper-position {
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 155px;
    row-gap: 34px;
    & .box-iformation {
      &:nth-child(1) {
        grid-row: 1;
        grid-column: 2;
      }
    }
    & .list-information-footer {
      &:nth-child(2) {
        grid-row: 1;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
    & .contact-order {
      align-items: flex-start;
      &:nth-child(3) {
        grid-row: 2;
        grid-column: 2;
      }
    }

    & .btn-price {
    }
  }
  .footer-heading {
    & .sub-text {
    }
  }
  .footer-information {
    text-align: start;
  }

  .item-information-footer {
    display: block;
    &:not(:first-child) {
      margin-top: -150px;
    }
    & div {
      display: block;
    }
    & ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .list-contact-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;

    margin-top: 0;
  }
  .list-firmware-footer {
    display: block;
    font-size: 18px;
    line-height: 22px;
  }
  .item-firmware-footer {
    display: flex;
    align-items: center;
    // justify-content: center;

    color: $pre-letter-footer-color;

    margin-top: 30px;

    &:first-child {
      margin-top: 35px;
    }
  }
  .pre-letter {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: $font-PN-r;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    background-color: $pre-letter-footer-color;
    color: $primari-color-text;

    width: 20px;
    height: 20px;

    margin-right: 16px;

    border-radius: 50%;
  }
  // .item-contact-footer {
  //   &:not(:first-child) {
  //   }
  // }
  // .custom-icon-position {
  // }
  // .custom-icon-phone {
  // }
  // .custom-icon-mail {
  // }

  /// new
  .list-information-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // padding-top: 70px;
  }

  .box-iformation {
    width: 395px;
    align-items: flex-start;
    // order: 2;
  }
  .arrow-icon {
    display: none;
  }
}
