@include for-size(desktop) {
  .footer-map {
    background: url(../img/map-desktop.png) no-repeat center;
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }
  .wrapper-contact-card {
    width: 280px;
  }
}
